<div class="col-sm-12" style ='background-color: #ccffcc;'>
    <h4 class="'lead">Comment Detail</h4>
    <form method="post" action="{% url 'app:comment' article.pk %}">
        {% csrf_token %}
        {% for field in form %}
        {{ field }}
        {{ field.errors }}
        <br>
        {% endfor %}
        <button type="submit">Comment</button>
    </form>
    <hr>
    {% for comment in comment_list %}
        <span class="'user-nickname">{{ comment.user_name }}</span>
        <time class="time">{{ comment.created_time }}</time>
        <div class="comment-content">{{ comment.body }}</div>
        <div><a href="">replay</a></div>
    <hr>
    {% endfor %}
</div>
