{% extends 'blog/base.html' %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-md-8">
            <h1 class="page-header">
                {% if cate_name %}
                   Category：{{ cate_name }}
                {% elif tag_name %}
                    Tag: {{ tag_name }}
                {% else %}
                    Articles
                {% endif %}
            </h1>

            {% if article_list %}
                <div>
                    {% for article in article_list %}
                        <h2>
                            <a href="{% url 'app:detail' article.pk %}">{{ article.title }}</a>
                        </h2>
                        <p class="lead">
                            by Dongpzh</a>
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> {{ article.created_time }}</p>
                        <hr>
                    {% endfor %}
                </div>
            {% else %}
                <h3>oops, got nothing</h3>
            {% endif %}

        </div>

        <div class="col-md-4">

            <!-- Blog Search Well -->

            <div class="well">
                <h4>Blog Search</h4>
                <form action="/search/" method="get">
                    <div class="input-group">
                        <input type="text" name="search_for" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <!--tag well-->
            {% include "blog/category.html" %}


            <!-- Side Widget Well -->
            <div class="well">
                <h4><span class="glyphicon glyphicon-align-justify"></span>    About The Blog</h4>
                <p>Welcome to my Blog~</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>

{% endblock content %}


